* {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

body {
	max-width: 1200px;
	margin: auto;
}

html {
	scroll-behavior: smooth;
	background-color: #F0F2EF;
}


.whitetext {
	color: white;
}


i {
	color: #dc3545;
	opacity: 50%;
	padding: 5px;
}

i:hover {
	color: #ffc107;
	opacity: 100%;
	transform: scale(1.5);

}


.HoverDiv img {
	cursor: auto;
	border-radius: 20px;
	border: 10px solid white;
}

.HoverDiv img:hover {
	transform: scale(1.02);
	transition: transform 1s ease;
	border-radius: 20px;
	cursor:pointer;

}

.fluid-container {
	background-color: #F0F2EF;
}

.bgcolor {
	background-color: #F0F2EF;
}

.row {
	margin: auto;
}

p {
	font-size: 18px;
}

.navbar a {
	font-size: 25px;
	color: black;
	font-weight: 600;
}

.navbar-nav a:hover {
	background-color: #F0F2EF;
	transform: scale(1.2);
	opacity: 100%;
}

.orderbuttonbackground {
	background-color: #F0F2EF;
	display: inline-block;
	border-radius: 10px;
}

.nav-link {
	border: 10px solid #F0F2EF;
	opacity: 50%
}

/*
.dotd {
	display:none;
}
*/


