* {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

body {
	max-width: 1200px;
	margin: auto;
}

html {
	scroll-behavior: smooth;
	background-color: #F0F2EF;
}


.whitetext {
	color: white;
}

a {
	color: white;
}

a:active {
	color: #ffc107;
}

a:hover {
	color: #ffc107;
}

i {
	color: #dc3545;
	opacity: 50%;
	padding: 5px;
}

i:hover {
	color: #ffc107;
	opacity: 100%;
	transform: scale(1.5);

}


.HoverDiv img {
	cursor: auto;
	border-radius: 30px;
	border: 20px solid white;
}

.HoverDiv img:hover {
	transform: scale(1.03);
	transition: transform 1s ease;
	border-radius: 30px;

}

.fluid-container {
	background-color: #F0F2EF;
}

.bgcolor {
	background-color: #F0F2EF;
}

.row {
	margin: auto;
}

p {
	font-size: 25px;
}

.navbar a {
	font-size: 28px;
	color: black;
}

.navbar-nav a:hover {
	background-color: #ffc107;
	transform: scale(1.1);
	border-radius: 30%;
	transform: scale(1.03);
}















