* {
	text-align: center;
	font-family: 'Open Sans', sans-serif;


}

.navbar a {
	font-size: 25px;
	color: black;
}

.whitetext {
	color: white;
}

a {
	color: white;
}

a:active {
	color: yellow;
}

a:hover {
	color: yellow;
}

.fa-facebook {
	color: #dc3545;
	justify-content: justify-content-end;
}

.fa-twitter {
	color: #dc3545;
	justify-content: justify-content-end;
}

.fa-twitter:hover {
	color: #ffc107;
}

.fa-facebook:hover {
	color: #ffc107;
}

#fontawesome {
	padding: 5px;
}


.HoverDiv {
	/*			position: relative;*/
	/*			overflow: hidden;*/
}

.HoverDiv img {
	max-width: 100%;
	/*			text-align: center;*/
	/*
			-moz-transition: all 1s;
			-webkit-transition: all 1s;
			transition: all 1s;
*/
}

.HoverDiv:hover img {
	-moz-transform: scale(1.02);
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

img {
	/*			display: inline-block;*/
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	transition: 1s;
	/*
			position: relative;
			z-index: 1;
*/
}

img:hover {
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}
